<div class="message">
  <p>Name: <strong><%= message.user.name %></strong> <%= message.created_at.strftime('%Y/%m/%d %H:%M:%S') %> </p>
  <div class="message-body">
    <%= simple_format(h message.body) %>
  </div>
</div>