<h1>ルーム入場パスワード入力</h1>

<%= form_with scope: :password_lock, url: room_password_lock_index_path, local:true do |f| %>
  <table>
    <tbody>
      <tr>
        <td><%= f.label :join_password, "入場パスワード" %></td>
        <td><%= f.text_field :join_password, placeholder: "password" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "入場する" %></td>
      </tr>
    </tbody>
  </table>
<% end %>