<h1>チャットルームです</h1>
<h2>部屋名: <%= @room.name %></h2>
<div id="message-post-area">
  <% if signed_in? %>
    <%= render 'messages/post_area', message: @message, room: @room %>
  <% end %>
</div>

<h3>メッセージ↓</h3>
<% if @messages.present? %>
  <% @messages.each do |message| %>
    <div>
      <p><%= message.user.name %>:</p>
      <%= simple_format(h message.body) %>
    </div>
  <% end %>
<% end %>